[submodule "contrib/arrow"]
	path = contrib/arrow
	url = git@github.com:apache/arrow.git
[submodule "contrib/yaclib"]
	path = contrib/yaclib
	url = git@github.com:YACLib/YACLib.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = git@github.com:google/googletest.git
