[submodule "contrib/arrow"]
	path = contrib/arrow
	url = git@github.com:apache/arrow.git
[submodule "contrib/boost"]
	path = contrib/boost
	url = https://github.com/ClickHouse/boost
[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/miloyip/rapidjson
[submodule "contrib/zlib"]
	path = contrib/zlib
	url = https://github.com/madler/zlib
[submodule "contrib/yaclib"]
	path = contrib/yaclib
	url = git@github.com:YACLib/YACLib.git
[submodule "contrib/googletest"]
	path = contrib/googletest
	url = git@github.com:google/googletest.git
[submodule "contrib/thrift"]
	path = contrib/thrift
	url = https://github.com/apache/thrift
[submodule "contrib/aws-sdk-cpp"]
	path = contrib/aws-sdk-cpp
	url = git@github.com:aws/aws-sdk-cpp.git
[submodule "contrib/snappy"]
	path = contrib/snappy
	url = git@github.com:google/snappy.git
[submodule "contrib/benchmark"]
	path = contrib/benchmark
	url = git@github.com:google/benchmark.git
[submodule "contrib/vortex"]
	path = contrib/vortex
	url = git@github.com:vortex-data/vortex.git
[submodule "contrib/corrosion"]
	path = contrib/corrosion
	url = git@github.com:corrosion-rs/corrosion.git
[submodule "contrib/lance"]
	path = contrib/lance
	url = git@github.com:lance-format/lance.git
